body{
    display: flex;
}
.container{
    width: 26%;
}
.context-cv{
    width: 37%;
    height: 100vh;
    background-color: red;
}
.result-cv{
    width: 37%;
    height: 100vh;
    background-color: blue;
}
.header{
    padding: 10px;
    background-color: rgb(199, 199, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content{
    background-color: rgb(150, 147, 147);
}
.flex{
    display: flex;
    padding: 10px;
}
.flex-align-center{
    align-items: center;
}
.head{
    width: 30%;
}
.content{
    display: none;
}
.button{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.textarea{
    width: 70%;
    padding: 10px 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.input{
    width: 70%;
    height: 32px;
}
.active:not(:last-child),.header:hover:not(:last-child){
    color: #fff;
    background-color: rgba(5, 5, 148, 0.89);
}
.icon-rectange{
    width: 0;
    height: 0;
    margin-top: 2px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid rgb(0, 0, 0);
}
.rotate{
    transform: rotate(180deg);
    border-top: 7px solid rgb(255, 255, 255);
}